In [ ]:
print("Hello world")

Define variables in python

In [ ]:
# define a variable to store number
number = 10
print(number)

In [ ]:
# define a variable to store string value
name = "John Smith"
print(name)

In [ ]:
# concatenate variables and display values
print("Hello " + name + ", the number is " + str(number))

In [ ]:
print("Hello")
print("World")

In [ ]:
tv = 15
mobile = 20
tablet = 30

# use \ to indicate codes continue in the next line
total = tv + \
mobile + \
tablet

print(total)

In [ ]:
# indentation
n = 9
r = 1

# while loop
while n > 0 :
    r = r * n
    n = n - 1

# print values after loop completed
print(r)

In [ ]:
str1 = 'hello'
str2 = "hello"
str3 = """hello
    world
"""
str4 = '''hello
world
'''

print(str1)
print(str2)
print(str3)
print(str4)

In [ ]:
age = 20; print(age); print("Age : " + str(age))

In [ ]:
print("Hello \nWorld")

In [ ]:
print("Hello\tWorld")

In [ ]:
print('Hello\tWorld')

In [ ]:
name = input("Enter name")
print(name)

# get a number and convert to integer
number = int(input("Enter a new number"))
print(number)

total = number * 2
print(total)

# repeat the string value
print(name * 3)
print('-' * 20)

In [ ]:
print(name + str(number))

In [ ]:
# define 3 variables at the same and all have same value
a = b = c = 99
print(a)
print(b)
print(c)

a = 88
print(a)
print(b)
print(c)

In [ ]:
# define 3 variables at the same and all have different values
name, email, age = "John", "john@example.com", 30
print(name + " " + email + " " + str(age))

In [ ]:
print("pi = %s" % "3.14159")

In [ ]:
print("pi = %.5f" % 3.14159)

In [ ]:
print("pi is <%-6.2f>" % 3.14159)
print("pi is <%6.2f>" % 3.14159)

In [ ]:
# using the % to do formatting sequences

(name, email, age) = ("John", "john@example.com", 30)

print("Name : %s, Email : %s, Age : %d" % (name, email, age))

print("%s\t%s\t%6.3f" % (name, email, age))

# assign new values to name, email and age
(name, email, age) = ("Bob", "bob@example.com", 35)
print("%s\t%s\t%6.3f" % (name, email, age))

In [ ]:
# use the format() with numerical index
print("Name : {0}, Email : {1}, Age: {2}".format(name, email, age))
print("Age: {0}, Name : {0}, Email : {1}".format(name, email, age))

In [ ]:
# use name instead
print("Name : {n}, Email : {e}, Age : {a}".format(n=name, e=email, a=age))
print("Age : {a}, Name : {n}, Email : {e}".format(n=name, e=email, a=age))

In [ ]:
print("{0:10} is the food of gods".format("Ambrossia"))
print("{0:10} is the food of gods".format("Ambrossiaccc"))
print("{0:{1}} is the food of gods".format("Ambrossia", 10))
print("{food:{width}} is the food of gods".format(food="Ambrossia", width=10))
print("{0:>10} is the food of gods".format("Ambrossia"))    # right-align
print("{0:&>10} is the food of gods".format("Ambross"))   # right-align, replace whitespace with &

In [ ]:
# named parameters and formatting sequences
num_dict = {'e' : 2.718, 'pi' : 3.14159}
print("%(pi).2f - %(pi).4f - %(e).2f" % num_dict)

In [ ]:
import time 
localtime = time.asctime(time.localtime(time.time()))
print("Formatted time : ", localtime)

In [ ]:
import calendar
calendar.prcal(2025)

In [ ]:
# conditional statements
x = 5

if x == 5 :
    print("equal 5")
elif x > 5 :
    print("greater than 5")
else :
    print("less than 5")

In [ ]:
# iterate 1 to 5 and display value
for v in range(1, 6) :
    print(v)

In [ ]:
for v in range(5) :
    print(v)

In [ ]:
for v in range(2, 30, 2) :
    print(v)

In [ ]:
# list of fruit names
fruits = ["apple", "banana", "cherry"]
for f in fruits :
    print(f)

In [ ]:
name = "John Smith"
for s in name :
    print(s)

In [ ]:
# stop looping when f is banana - break : exit from the current block
for f in fruits :
    print(f)
    if f == "banana" :
        break

In [ ]:
# continue : go to next iteration/item
for f in fruits :
    if f == "banana" :
        continue
    print(f)

In [ ]:
# while-loop 1 to 5
i = 1
while i <= 5 :
    print(i)
    i += 1

In [ ]:
i = 1
while i <= 5 :
    if i == 3 :
        break
    print(i)
    i += 1

In [ ]:
i = 1
while i <= 5 :
    i += 1
    if i == 3 :
        continue
    print(i)

In [ ]:
# use while loop to iterate fruits
i = 0
while i < len(fruits) :
    print(fruits[i])
    i += 1

In [ ]:
number = "abc"  # user input - string

try :
    total = int(number) + 2
except :
    print("cannot convert to int")

In [ ]:
# example of string slicing
title = "Python Data Science"
print(title)

subtitle = title[0:5]
print(subtitle)

subtitle = title[5:]
print(subtitle)

subtitle = title[:5]
print(subtitle)

subtitle = title[5:10]
print(subtitle)

subtitle = title[-5:]
print(subtitle)

subtitle = title[:-5]
print(subtitle)

In [ ]:
subtext = "Python"
print(subtext in title)

subtext = "python"
print(subtext in title)

subtext = "python"
print(subtext not in title)

In [ ]:
# use lambda to define anonymous function
sum = lambda val1, val2 : val1 + val2

# call sum function and display result
print("Total: ", sum(1, 2))

In [ ]:
# use python syntax to define function
def add(val1, val2) :
    return val1 + val2

print("Total: ", add(1, 2))